$primary-color: red;
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1em;
}

.permissions {
  list-style: none;
  padding: 0;
  margin: 2em 0;

  li {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.permissionsText {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: -.3em;
}

.permissionsDelete {
  color: red;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.formContent {
  width: 100%;
    font-size: 1.4em;
    font-family: "Source Sans Pro", sans-serif;
    height: 1.5em;
    border: 2px solid #939191;
    border-radius: 5px;
    margin-bottom: .3em;
}

.permissionForm {
  input[type="radio"]{
  margin: 0 10px 0 -7px;
  }
  label{
    margin-right: 10px;
  }
}

.formButton {
  background: red;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: .6em 1 em;
  font-size: 1.1em;
  margin-top: .5em;
}